<template name="addSubpattern">
	<div class="create-subpattern-box">
	<h3>create link</h3>
	<i>Add a URL link to create a relationship.</i>
	<br />
	<label for="url">related url link</label>
	<br />
	<input class="url input-xlarge" type="text" name="url" value="" id="url">
	<br />
	<label for="title">title</label><br />
	<input class="title input-xlarge" type="text" name="title" value="" id="title">
	<br />
	<label for="description">description</label>
	<br />
	<textarea class="description input-xlarge" name="description" rows="6"></textarea><br />

	<a href="#" class="btn btn-success create pull-right">create</a>

	</div>
</template>
